//! **************************************************************************
// Written by: Map O.61xd on Sat Nov 18 19:42:29 2017
//! **************************************************************************

SCHEMATIC START;
COMP "SW<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "P11" LEVEL 1;
SCHEMATIC END;

